:root {
  --accent: #F5F5F4;
  --accent-foreground: #1C1917;
  --accent-category-1: #FFF82C;
  --accent-category-2: #FFA60D;
  --accent-category-3: #FA97F1;
  --accent-category-4: #6D1D14;
  --accent-category-5: #FE5F1D;
  --accent-category-6: #AFC300;
  --accent-category-7: #106F47;
  --accent-category-8: #88B0FF;
  --background: #FFFFFF;
  --border: #E7E5E4;
  --border-active: #0156FF;
  --card: #FFFFFF;
  --card-foreground: #0C0A09;
  --destructive: #DC2626;
  --destructive-foreground: #FEF2F2;
  --foreground: #0C0A09;
  --input: #E7E5E4;
  --input-active: #0156FF;
  --muted: #F5F5F4;
  --muted-foreground: #78716C;
  --popover: #FFFFFF;
  --popover-foreground: #0C0A09;
  --primary: #0156FF;
  --primary-alt: #0C0A09;
  --primary-foreground: #FAFAF9;
  --primary-alt-foreground: #FAFAF9;
  --ring: #A8A29E;
  --ring-offset: #FFFFFF;
  --secondary: #F5F5F4;
  --secondary-foreground: #1C1917;
  --chart-1: #0156FF;
  --chart-2: #FFA60D;
  --chart-3: #AFC300;
  --chart-4: #FE5F1D;
  --chart-5: #88B0FF;
  --sidebar: #FAFAF9;
  --sidebar-foreground: #0C0A09;
  --sidebar-primary: #1C1917;
  --sidebar-primary-foreground: #FAFAF9;
  --sidebar-accent: #F5F5F4;
  --sidebar-accent-foreground: #1C1917;
  --sidebar-border: #E7E5E4;
  --sidebar-ring: #A8A29E;
  --warning: #FFA60D;
  --warning-foreground: #5D3F0B;
}

.dark {
  --accent: #44403C;
  --accent-foreground: #FAFAF9;
  --accent-category-1: #FFF82C;
  --accent-category-2: #FFA60D;
  --accent-category-3: #FA97F1;
  --accent-category-4: #6D1D14;
  --accent-category-5: #FE5F1D;
  --accent-category-6: #AFC300;
  --accent-category-7: #106F47;
  --accent-category-8: #88B0FF;
  --background: #0C0A09;
  --border: #FFFFFF;
  --border-active: #0156FF;
  --card: #1C1917;
  --card-foreground: #FAFAF9;
  --destructive: #F87171;
  --destructive-foreground: #FEF2F2;
  --foreground: #FAFAF9;
  --input: #FFFFFF;
  --input-active: #0156FF;
  --muted: #292524;
  --muted-foreground: #A8A29E;
  --popover: #292524;
  --popover-foreground: #FAFAF9;
  --primary: #0156FF;
  --primary-alt: #FAFAF9;
  --primary-foreground: #FAFAF9;
  --primary-alt-foreground: #0A0A0A;
  --ring: #78716C;
  --ring-offset: #0C0A09;
  --secondary: #292524;
  --secondary-foreground: #FAFAF9;
  --chart-1: #0156FF;
  --chart-2: #FFA60D;
  --chart-3: #AFC300;
  --chart-4: #FE5F1D;
  --chart-5: #88B0FF;
  --sidebar: #1C1917;
  --sidebar-foreground: #FAFAF9;
  --sidebar-primary: #0156FF;
  --sidebar-primary-foreground: #FAFAF9;
  --sidebar-accent: #292524;
  --sidebar-accent-foreground: #FAFAF9;
  --sidebar-border: #FFFFFF;
  --sidebar-ring: #57534E;
  --warning: #FFA60D;
  --warning-foreground: #FFF6E5;
}
